html, body{
    padding-top: 35px;
    background-color: #f9f7f6;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar a{
    color: white !important;
}

.navbar-nav li a:hover, a:active
{
    color: #d0d0d0 !important;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.icon-bar{
    background-color: #BE524F;
}
.text-white{
    color: white !important;
}
.text-white-hover{
    color: white !important;
}
.active{
    color: black !important;
    background-color: white !important;
}
.test{
    margin-bottom:  50px;
}

li{
    display:  block;
}
.text-white-hover:hover{
    color: black !important;
    background-color: white !important;
}

/*Allt nedan är funktioner ämnat för sidans "footer" :) */
.footer{
    bottom: 0px;
    background-color: #BE524F;
    width: 100%;
}


.glyph_footer{

    margin-top: 20px;
    font-size: 2em;
    color: white;
}
.icons{
    margin-top: 70px;
}

.content{
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom:1px solid #c7c7c7;
    background: white;
}

.search{
    float:right;
}

@media only screen and (max-width: 736px){
    .ul-nav{
        margin-top: 30px;
    }
}