@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

*{
    padding:0;
    margin:0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 15px; 
    background-color: #F1F1F1;
    overflow-x: hidden;
    
}

h4{
    letter-spacing: 0.02em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-about {
    min-height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color:#BE524F; 
    color: white;

}
.section-about .media-object {
    width: 2.2em;
    height: 2.2em; }

.section-staff{
    background-color: #212127;
    color: white;
    border-top: 1px solid black;
}

.arrow{
    padding-top: 200px;
}

.btn
{

    background-color: #333;
    color: #ffffff;
    border-radius: 0;
    transition: .2s;
    height: 37px;
}

.btn:hover, .btn:focus
{
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.task{
    text-align:center;
    font-style: italic;
    color: #ABABAB;
    font-weight:300;
}

.name{
    text-align: center;

}

a{
    text-decoration: none;
    color:#666;
}
a:hover{
    color:#999;
}
p{
    line-height: 2em;
    margin:0 0 20px;
    text-align: center;
}

.start{
    background-image: url("../img/street.jpg");
    height: 100vh;
}

.wrap{
    max-width: 550px;
    margin: auto;
    padding-top: 150px;
}

.type-wrap{
    margin:10px auto;
    padding:20px;
    background:#f0f0f0;
    border-radius:1px;
    border:#CCC 1px solid;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.02em;
}

h1{
    color: #000000;
    text-align:center;
}

/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}